<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하람</title>
    <link rel="stylesheet" href="/static/css/category.css">
</head>
<script>
    var value = '';
    function setValue(str) {
        if (value !== str) {
            value = str;
            window.setValue(value);  // 선택된 값을 전역 변수로 설정
        }
    }

    function send() {
        fetch('http://127.0.0.1:5200/mh_static_chat', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ message: "대화 주제가 선택되었습니다.", variable: value })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Response from Python:', data);
            window.location.href = 'http://127.0.0.1:5200'; // 여기로 이동
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>
<body>
    <div class="circle"></div>
    <div class="circle2"></div>
    <div class="exit"></div>
    <div class="logo"></div>
    <form>
        <pre class="text">
            이하람님께서 이야기하고 싶은 주제를 골라보세요.
            없어도 괜찮아요!
            버튼을 눌러 다음으로 넘어가볼까요?
        </pre>
        <article class="parent"> 
            <article class="first"> 
                <button type="button" onclick="setValue('대인관계');">대인관계</button>
                <button type="button" onclick="setValue('직장');">직장</button>
                <button type="button" onclick="setValue('진로');">진로</button>
            </article>  
            <article class="second"> 
                <button type="button" onclick="setValue('학업');">학업</button>
                <button type="button" onclick="setValue('가족');">가족</button>
                <button type="button" onclick="setValue('건강');">건강</button>
            </article> 
        </article>
        <button type="button" class="Submit" onclick="send();">Submit</button>
    </form>
</body>
</html>
