<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하람</title>
    <link rel="stylesheet" href="/static/css/category.css">
</head>
<script>
    var selectedValues = []; // 선택된 값들을 저장할 배열

    function toggleValue(str) {
        const index = selectedValues.indexOf(str);
        if (index > -1) {
            selectedValues.splice(index, 1); // 이미 선택된 값이면 배열에서 제거
        } else {
            selectedValues.push(str); // 선택되지 않은 값이면 배열에 추가
        }
        console.log("Current selected values:", selectedValues);
    }

    function send() {
        fetch('http://127.0.0.1:5200/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ message: "대화 주제가 선택되었습니다.", variables: selectedValues })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Response from Python:', data);
                window.location.href = 'http://127.0.0.1:5200/mh'; // 여기로 이동
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>

<body>
    <div class="circle"></div>
    <div class="circle2"></div>
    <a id="exit" href="#">
        <img src="/static/images/exit.png" alt="exit"></div>
    </a>
    <img id="logo" src="/static/images/하람로고+하람.png" alt="logo"></div>
    <form>
        <pre class="text">
            이하람님께서 이야기하고 싶은 주제를 골라보세요.
            없어도 괜찮아요!
            버튼을 눌러 다음으로 넘어가볼까요?
        </pre>
        <article class="parent">
            <article class="first">
                <button type="button" onclick="toggleValue('대인관계');">대인관계</button>
                <button type="button" onclick="toggleValue('직장');">직장</button>
                <button type="button" onclick="toggleValue('진로');">진로</button>
            </article>
            <article class="second">
                <button type="button" onclick="toggleValue('학업');">학업</button>
                <button type="button" onclick="toggleValue('가족');">가족</button>
                <button type="button" onclick="toggleValue('건강');">건강</button>
            </article>
        </article>
        <button type="button" class="Submit" onclick="send();">Submit</button>
    </form>

    <article id="tutorial_open">
        <div id="box_tutorial_open"></div>
        <img id="img_tutorial_open" src="/static/images/finish_tutorial.png" alt="finish">
        <button id="p_tutorial_open">튜토리얼 열기!</button>
    </article>

    <div id="tutorial">
        <div id="finish">
            <div id="box_finish"></div>
            <img id="img_finish" src="/static/images/finish_tutorial.png" alt="finish">
            <button id="p_finish">튜토리얼 완료!</button>
        </div>
        <p id="talk1">대인관계에 대한 이야기를 하고싶으시군요! 😉</p>
        <p id="talk2">대화를 시작해볼까요?</p>
        <div id="highlight1"></div>
        <div id="highlight2"></div>
    </div>

    <script>
        document.getElementById("p_finish").addEventListener("click", function () {
            const tutorialDiv = document.getElementById("tutorial");
            tutorialDiv.style.display = "none"; // 튜토리얼 창 숨기기
        });
    </script>

    <script>
        document.getElementById("tutorial_open").addEventListener("click", function () {
            const tutorialDiv = document.getElementById("tutorial");
            tutorialDiv.style.display = "block"; // 튜토리얼 창 숨기기
        });
    </script>
</body>

</html>