<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정신적 건강 지속 관리 대화</title>
    <link rel="stylesheet" href="/static/css/qna_chatbot.css">
</head>
<body>
    <h3 id="tuto1">이하람님을 위한 소중한 시간이니 천천히 떠올려보세요.🥰</h3>
    <div id="app">
        <header id="header">
            <img src="/static/images/logo.png" alt="Logo" id="logo">
            <img src="/static/images/exit.png" alt="Exit" id="exit">
        </header>
        <main id="chat-area"></main>
        <div id="user-input">
            <textarea id="message-input" rows="1"></textarea>
            <button id="send-btn">submit</button>
        </div>  
    </div>   
    <form id="graph">
        <p id="p_keyword">주제</p>
        <textarea type="text" name="keyword" id="keyword"></textarea>
        <p id="p_title">제목</p>
        <textarea type="text" name="title" id="title" ></textarea>
        <p id="p_content">설계</p>
        <textarea type="text" name="content" id="content" ></textarea>
        <p id="p_reason">이유</p>
        <textarea type="text" name="reason" id="reason" ></textarea>
        <button type="submit" id="done">충분히 다 작성했어요!</button>
    </form>
    <script type="module" src="/static/js/detail_mh_static_scripts.js"></script>
</body>
</html>
