<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/graph.css">
    <link rel="stylesheet" href="/static/css/main_global.css">
    <title>우울증 진단 결과</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="container">
            <article class="one_section">
                <article class ="circle"></article>
                <article class ="circle2"></article>
                <article class="haram">
                    <a href="#">
                    <img src="/static/images/cloud.png" alt="구름"/>
                    <p style="
                        font-size: 19px;
                        text-decoration: none;
                        width: 74px;
                    ">하람이란?</p>
                    <img src="/static/images/cloud.png" alt="구름">
                    </a>
                    <article class="menubar">
                        <a id="service" href="/templates/about.html">
                            <p>하람 서비스 소개</p>
                        </a>
                        <a id="care" href="/templates/ai_mental_care.html">
                            <p>AI 멘탈 케어란?</p>
                        </a>
                    </article>
                </article>
                <article class="heart">
                    <a href="#">
                    <img src="/static/images/moon.png" alt="달"/>
                    <p style="
                        font-size: 18px;
                        text-decoration: none;
                        width: 82px;
                    ">마음달래기</p>
                    <img src="/static/images/moon.png" alt="달">
                    </a>
                    <article class="menubar2">
                        <a id="mental" href="#">
                            <p>멘탈 헬스 스테틱 케어 서비스</p>
                        </a>
                        <a id="detail" href="#">
                            <p>디테일 맞춤형 휴먼 케어 서비스</p>
                        </a>
                        <a id="health" href="#">
                            <p>멘탈 헬스 진단 서비스</p>
                        </a>
                        <a id="chatbot" href="#">
                            <p>로하람 챗봇 서비스</p>
                        </a>
                    </article>
                </article>
                <article class="login">
                    <a href="login.html">
                        <p style="
                        font-size: 16px;
                        text-decoration: none;
                        width: 40px;
                        color: #6AD0FF;
                    ">로그인</p>
                    </a>
                </article>
                <article class="mypage">
                    <a href="mypage.html">
                    <img src="/static/images/User.png" alt="사용자">
                    </a>    
                </article>
                <article class = "home">
                    <a href="main.html">
                        <img src="/static/images/하람로고.png" alt="logo" width="100x" height="auto" style="
                        position: absolute;
                        left: 0px;
                        top: 11px;">
                        <img id="text" src="/static/images/Text.png" alt="text" style="
                        position: absolute;
                        top: 23px;
                        left: 5%;">
                    </a>
                </article>
                <article class="title">
                    <p>하람님의  멘탈 헬스 그래프에요.😊 <br>
                        아래로 스크롤하며 하람님의 상태를 확인해볼까요?</p>
                </article>
                <!-- 데이터를 JSON 형식으로 HTML에 숨김 -->
                <div id="diagnosisData" style="display: none;">{{ diagnosis | tojson }}</div>
                <canvas id="diagnosisChart" width="400" height="400"></canvas>
            </article>
        </div>
        <div class="container">
            <article class="two_section">
                <img src="/static/images/하람로고+하람.png" id="logo">
                <article class ="circle"></article>
                <article class ="circle2"></article>
                <article class="friendship">
                    <p id="friendship1">대인관계</p>
                    <p id="friendship2">대인관계 진단으로 하람님의 평소 대인관계와 <br>
                        관련한 마음 건강 수치를 알 수 있어요.</p>
                    <p id="friendship3">하람님의 마음 건강 수치는 높아지고 있네요! 😄<br>
                        어떤 사람들을 만나셨을까요?</p>
                    <p id="friendship4">오른쪽의 저희가 제공해드리는 내용도<br>
                        하람님께 도움이 되었으면 좋겠어요.</p>
                </article>
                <p id="title">하람님께 추천드려요!😉</p>
                <article class="friendship_recommend">
                    <article class="friendship_recommend1">
                        <p>- 산책 <br> - 영화보기 <br> - 악기 연주</p>
                    </article>
                    <article class="friendship_recommend2">
                        <p id="small">저희 서비스 중에서는 이 서비스를 추천해요!</p>
                        <a id="big" href="#">멘탈 헬스 스테틱 케어 서비스 </a>
                    </article>
                    <article class="friendship_recommend3">
                        <p id="small">하람님께 추천해드리고 싶은 다른 사이트에요!</p>
                        <a id="big" href="#">
                            <img src="/static/images/heart_online.png" alt="마음 온라인">
                        </a>
                    </article>
                </article>
            </article>
        </div>
        <div class="container">
            <article class="three_section">
                <img src="/static/images/하람로고+하람.png" id="logo2">
                <article class ="circle"></article>
                <article class ="circle2"></article>
                <article class="work">
                    <p id="work1">직장</p>
                    <p id="work2">직장 수치는 하람님이 얼마나 일에 대해 신경을 <br>
                        쓰고 계시는지 보여줄 수 있는 수치입니다.😊</p>
                    <p id="work3">하람님의 직장 수치는 점점 높아져서 2024년에는 모든 <br>
                        스트레스를 통틀어서 가장 높아졌어요.😥</p>
                    <p id="work4">오른쪽에는 하람님이 직장 생활을 더 잘하기 위해 <br>
                        저희가 추천드리는 여러가지 정보들이에요!</p>
                </article>
                <p id="title2">하람님께 추천드려요!😉</p>
                <article class="work_recommend">
                    <article class="work_recommend1">
                        <p>- 맛집 찾아가기 <br> - 운동 배워보기 <br> - 다이어리 쓰기</p>
                    </article>
                    <article class="work_recommend2">
                        <p id="small">저희 서비스 중에서는 이 서비스를 추천해요!</p>
                        <a id="big" href="#">디테일 맞춤형 멘탈 헬스 케어 서비스 </a>
                    </article>
                    <article class="work_recommend3">
                        <p id="small">하람님께서 직장에서 유용하게 쓰실수 있는 앱을 추천드릴게요!</p>
                        <a id="big" href="#">
                            <img src="/static/images/google_calendar.png" alt="구글 캘린더">
                        </a>
                    </article>
                </article>
            </article>
        </div>
        <div class="container">
            <article class="four_section">
                <img src="/static/images/하람로고+하람.png" id="logo3">
                <article class="study">
                    <p id="study1">학업</p>
                    <p id="study2">해당 수치는 지금 하람님께서 생각하고 계시는 <br>
                        학업에 대한 관심도를 표현 수치입니다! </p>
                    <p id="study3">하람님의 학업 수치는 낮아지고 있네요! 😄 <br>
                        다행입니다.</p>
                    <p id="study4">오른쪽의 내용은 하람님의 학업 수치를 더욱 <br>
                        긍정적인 방향으로 이끌수 있는 정보입니다!</p>
                </article>
                <p id="title3">하람님께 추천드려요!😉</p>
                <article class="study_recommend">
                    <article class="study_recommend1">
                        <p>- 시간 공부법 사용해보기 <br> - 인생 강의 들어보기 <br> - 대인관계 늘려보기  </p>
                    </article>
                    <article class="study_recommend2">
                        <p id="small">저희 서비스 중에서는 이 서비스를 추천해요!</p>
                        <a id="big" href="#">디테일 맞춤형 멘탈 헬스 케어 서비스 </a>
                    </article>
                    <article class="study_recommend3">
                        <p id="small">하람님께 추천해드리고 싶은 다른 사이트에요!</p>
                        <a id="big" href="#">
                            <img src="/static/images/족보닷컴.png" alt="족보닷컴">
                        </a>
                    </article>
                </article>
            </article>
        </div>
        <div class="container">
            <article class="five_section">
                <img src="/static/images/하람로고+하람.png" id="logo4">
                <article class="family">
                    <p id="family1">가족</p>
                    <p id="family2">하람님께서 얼마나 가족에게 힘을 얻고 계신지 <br>
                        알수있는 수치에요!</p>
                    <p id="family3">하람님은 가족에게서 큰 힘을 얻고 계시는것 <br>
                        같아요!</p>
                    <p id="family4">오른쪽에 있는 정보들을 하람님께서 가족분들과 <br>
                        함께 하시면 좋을것같아 추천드립니다!😊</p>
                </article>
                <p id="title4">하람님께 추천드려요!😉</p>
                <article class="family_recommend">
                    <article class="family_recommend1">
                        <p>- 여행 떠나기 <br> - 보드게임하기 <br> - 외식</p>
                    </article>
                    <article class="family_recommend2">
                        <p id="small">저희 서비스 중에서는 이 서비스를 추천해요!</p>
                        <a id="big" href="#">로하람 챗봇 서비스 </a>
                    </article>
                    <article class="family_recommend3">
                        <p id="small">하람님께 추천해드리고 싶은 다른 사이트에요!</p>
                        <a id="big" href="#">
                            <img src="/static/images/패밀리 타운.png" alt="패밀리타운">
                        </a>
                    </article>
                </article>
            </article>
        </div>
        <div class="container">
            <article class="six_section">
                <img src="/static/images/하람로고+하람.png" id="logo5">
                <article class="health">
                    <p id="health1">건강</p>
                    <p id="health2">다양한 진단 결과로 하람님의 현재 건강 상태를 <br>
                        알 수 있어요! </p>
                    <p id="health3">하람님의 건강 수치는 높아지고 있네요!🥲 <br>
                        걱정돼요 하람님</p>
                    <p id="health4">오른쪽의 저희가 제공해드리는 내용은 하람님이 
                        건강을 되찾게 도움을 주게 되기 위해 준비했어요.</p>
                </article>
                <p id="title5">하람님께 추천드려요!😉</p>
                <article class="health_recommend">
                    <article class="health_recommend1">
                        <p>- 산책 및 홈트레이닝 <br> - 다양한 여가 생활 <br> - 주기적인 병원 방문</p>
                    </article>
                    <article class="health_recommend2">
                        <p id="small">저희 서비스 중에서는 이 서비스를 추천해요!</p>
                        <a id="big" href="#">멘탈 헬스 스테틱 케어 서비스</a>
                    </article>
                    <article class="health_recommend3">
                        <p id="small">하람님께 추천해드리고 싶은 다른 사이트에요!</p>
                        <a id="big" href="#">
                            <img src="/static/images/오케어.png" alt="오케어">
                        </a>
                    </article>
                </article>
            </article>
        </div>
        <div class="container">
            <article class="seven_section">
                <img src="/static/images/하람로고+하람.png" id="logo6">
                <article class="job">
                    <p id="job1">진로</p>
                    <p id="job2">진로 전문 진단으로 하람님의 진로에 대한 관심과 <br>
                        희망 직종 성향을 추가로 알 수 있어요. </p>
                    <p id="job3">하람님은 진로에 대한 관심이 부쩍 늘어나고 <br>
                        계신것같아요!</p>
                    <p id="job4">오른쪽은 저희가 제공해드리는 진로에 대한 <br>
                        내용으로 하람님께 도움이 되었으면 좋겠어요.</p>
                </article>
                <p id="title6">하람님께 추천드려요!😉</p>
                <article class="job_recommend">
                    <article class="job_recommend1">
                        <p>- 진로 플래너 만들어보기 <br> - 현재 직종 행복도 성찰해보기 <br> - 다양한 진로 체험 해보기</p>
                    </article>
                    <article class="job_recommend2">
                        <p id="small">저희 서비스 중에서는 이 서비스를 추천해요!</p>
                        <a id="big" href="#">디테일 맞춤형 멘탈 헬스 케어 서비스</a>
                    </article>
                    <article class="job_recommend3">
                        <p id="small">하람님께 추천해드리고 싶은 다른 사이트에요!</p>
                        <a id="big" href="#">
                            <img src="/static/images/커리어넷.png" alt="커리어넷">
                        </a>
                    </article>
                </article>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/main.js"></script>

    <div id="tutorial">
        <p id="talk1">수치가 높을수록 하람님이 해당 분야에 신경을 많이 쓰고 계시다는 뜻이에요. 🥺</p>
        <div id="highlight1"></div>
        <div id="finish">
            <div id="box_finish"></div>
            <img id="img_finish" src="/static/images/finish_tutorial.png" alt="finish">
            <button id="p_finish">튜토리얼 완료!</button>
        </div>
    </div>

    <article id="tutorial_open">
        <div id="box_tutorial_open"></div>
        <img id="img_tutorial_open" src="/static/images/finish_tutorial.png" alt="finish">
        <button id="p_tutorial_open">튜토리얼 열기!</button>
    </article>

    <script> 
        document.getElementById("p_finish").addEventListener("click", function () {
            const tutorialDiv = document.getElementById("tutorial");
            tutorialDiv.style.display = "none"; // 튜토리얼 창 숨기기
        });
    </script>

    <script>
        document.getElementById("tutorial_open").addEventListener("click", function () {
            const tutorialDiv = document.getElementById("tutorial");
            tutorialDiv.style.display = "block"; // 튜토리얼 창 숨기기
        });
    </script>
    <script>
        // HTML에서 숨겨진 데이터 읽기
        const diagnosisDataElement = document.getElementById('diagnosisData');
        const diagnosisData = JSON.parse(diagnosisDataElement.textContent);

        console.log("Received data:", diagnosisData);

        // 유효한 데이터만 필터링
        const labels = [];
        const values = [];
        for (const [key, value] of Object.entries(diagnosisData)) {
            if (value > 0) { // 값이 0이 아닌 경우만 추가
                labels.push(key);
                values.push(value);
            }
        }

        // Chart.js를 사용한 그래프 생성
        const ctx = document.getElementById('diagnosisChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar', // 막대형 그래프
            data: {
                labels: labels, // 진단 항목
                datasets: [{
                    label: '진단 결과',
                    data: values, // 진단 값
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true // y축 0부터 시작
                    }
                }
            }
        });
    </script>    
</body>
</html>